
ios/RNDevice.xcodeproj/project.xcworkspace/contents.xcworkspacedata

ios/RNDevice.xcodeproj/project.xcworkspace/xcuserdata/lumin.xcuserdatad/UserInterfaceState.xcuserstate

ios/RNDevice.xcodeproj/xcuserdata/lumin.xcuserdatad/xcschemes/RNDevice.xcscheme

ios/RNDevice.xcodeproj/xcuserdata/lumin.xcuserdatad/xcschemes/xcschememanagement.plist
